<html>
<head>
    <link href="~/reset.css" rel="stylesheet" />
    <link href="~/home.css" rel="stylesheet" />
</head>
<body>
    <main>
        <h1>Home</h1>
        <nav>
            <ul>
                <a href="/Home/Hotels">Hotels</a>
                <a href="/Home/Rooms">Rooms</a>
                <a href="/Home/Amenities">Amenities</a>
            </ul>
        </nav>
    </main>
</body>
</html>