@model AsyncInn.Models.HotelLocation

@{
    Layout = "_Layout";
}

<section class="container">
    <div class="row">
        <div class="column">
            @Model.Name
        </div>
    </div>

    <div class="row">
        <div class="column">
            Address
        </div>
        <div class="column">
            @Model.Address
        </div>
    </div>

    <div class="row">
        <div class="column">
            Phone Number
        </div>
        <div class="column">
            @Model.Phone
        </div>
    </div>

 



</section>